body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    color: rgb(190, 54, 202);
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
